.my-dropdown::after {
  content: none;
}

.rounded-card {
  border-radius: 12px;
  padding: 4px;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgb(194, 192, 192);
}

.mh {
  min-height: 50px;
  border: 1px solid red;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(194, 193, 191, 0.979);
}

::-webkit-scrollbar-thumb {
  background-color: #cb9935;
}

.div {
  background: linear-gradient(to bottom, #cb9935 0%, #ff99cc 100%);
}

.bg-golden {
  background-color: #cb9935;
}
.text-golden {
  color: #cb9935 !important;
}

.pink-gradient {
  background: linear-gradient(to bottom, rgb(245, 215, 240) 0%, #ffffff 100%);
}

.gray-gradient {
  background: linear-gradient(to bottom, #e2e1de 0%, #ffffff 100%);
}
